<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>SaveNoteServlet</servlet-name>
  	<display-name>SaveNoteServlet</display-name>
  	<description></description>
  	<servlet-class>com.servlets.SaveNoteServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>SaveNoteServlets</servlet-name>
  	<display-name>SaveNoteServlets</display-name>
  	<description></description>
  	<servlet-class>com.servlets.SaveNoteServlets</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>SaveNoteServle</servlet-name>
  	<display-name>SaveNoteServle</display-name>
  	<description></description>
  	<servlet-class>com.servle.SaveNoteServle</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DeleteServle</servlet-name>
  	<display-name>DeleteServle</display-name>
  	<description></description>
  	<servlet-class>com.servle.DeleteServle</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UpdateServlet</servlet-name>
  	<display-name>UpdateServlet</display-name>
  	<description></description>
  	<servlet-class>com.servle.UpdateServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DeleteServlet</servlet-name>
  	<display-name>DeleteServlet</display-name>
  	<description></description>
  	<servlet-class>com.servle.DeleteServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>configure</servlet-name>
  	<display-name>configure</display-name>
  	<description></description>
  	<servlet-class>com.servle.configure</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>SaveNoteServlet</servlet-name>
  	<url-pattern>/SaveNoteServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SaveNoteServlets</servlet-name>
  	<url-pattern>/SaveNoteServlets</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SaveNoteServle</servlet-name>
  	<url-pattern>/SaveNoteServle</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DeleteServle</servlet-name>
  	<url-pattern>/DeleteServle</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UpdateServlet</servlet-name>
  	<url-pattern>/UpdateServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DeleteServlet</servlet-name>
  	<url-pattern>/DeleteServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>configure</servlet-name>
  	<url-pattern>/configure</url-pattern>
  </servlet-mapping>
</web-app>
